.aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60px;

  &__social-icons {
    height: inherit;
    @include flex($direction: column, $justify: flex-end, $align: stretch);
  }

  &__social-icon {
    @include link();
    @include transition(color);
    color: var(--dark-green);
    font-size: 1.8rem;
    margin: 8px;
    &:hover {
      color: var(--main-dark);
    }
  }

  @media screen and (max-width: $mobile-width) {
    width: 50px;
  }
}
