.card {
  @include size(140px);
  @include link();
  @include transition(box-shadow);
  color: var(--text-color);
  background-color: white;
  font-size: 1.2rem;

  &__content {
    @include fullSize();
    @include flex($direction: column);
    padding: 8px 12px 8px 12px;
  }

  &__img {
    @include imgFull(contain);
    margin-bottom: 8px;
  }

  &:hover {
    box-shadow: 0 0 16px 10px #cfcfcf;
  }

  @media screen and (max-width: $mobile-width) {
    @include size(80px);
    font-size: 0.8rem;

    &__content {
      padding: 4px 8px;
    }
  }

  &--vuejs {
    background-image: url(../assets/vuejs.png);
  }
  &--vuexjs {
    background-image: url(../assets/vuex.png);
  }
  &--js {
    background-image: url(../assets/js.png);
  }
  &--typescript {
    background-image: url(../assets/typescript.png);
  }
  &--webpack {
    background-image: url(../assets/webpack.png);
  }
  &--sass {
    background-image: url(../assets/sass.png);
  }
  &--html {
    background-image: url(../assets/html.png);
  }
  &--git {
    background-image: url(../assets/git.png);
  }
  &--design-patterns {
    background-image: url(../assets/design-patterns.png);
  }
  &--jira {
    background-image: url(../assets/jira.png);
  }
  &--photoshop {
    background-image: url(../assets/photoshop.png);
  }
  &--oop {
    background-image: url(../assets/oop.png);
  }
  &--reactjs {
    background-image: url(../assets/react.png);
  }
}
