.card {
  @include size(200px);
  @include link();
  @include transition(box-shadow);
  background: var(--color-dark-purple);
  margin: 10px;
  font-size: 1.8em;
  border-radius: 3px;
  &__content {
    @include fullSize();
    @include flex($direction: column);
    padding: 14px;
  }
  &__img {
    @include imgFull(contain);
  }
  &:hover { box-shadow: 0 0 14px 4px black; }

  &--vuejs { background-image: url(../images/vuejs.png); }
  &--vuexjs { background-image: url(../images/vuex.png); }
  &--js { background-image: url(../images/js.png); }
  &--webpack { background-image: url(../images/webpack.png); }
  &--sass { background-image: url(../images/sass.png); }
  &--html { background-image: url(../images/html.png); }
  &--git { background-image: url(../images/git.png); }
  &--design-patterns { background-image: url(../images/design-patterns.png); }
  &--jira { background-image: url(../images/jira.png); }
  &--photoshop { background-image: url(../images/photoshop.png); }
  &--oop { background-image: url(../images/oop.png); }
}