.card {
  @include size(200px);
  @include link();
  @include transition(box-shadow);
  background: var(--color-dark-purple);
  margin: 10px;
  font-size: 1.8em;
  border-radius: 3px;
  &__content {
    @include fullSize();
    @include flex($direction: column);
    padding: 14px;
  }
  &__img {
    @include imgFull(contain);
  }
  &:hover {
    box-shadow: 0 0 14px 4px black;
  }

  &--vuejs {
    background-image: url(../assets/vuejs.png);
  }
  &--vuexjs {
    background-image: url(../assets/vuex.png);
  }
  &--js {
    background-image: url(../assets/js.png);
  }
  &--typescript {
    background-image: url(../assets/typescript.png);
  }
  &--webpack {
    background-image: url(../assets/webpack.png);
  }
  &--sass {
    background-image: url(../assets/sass.png);
  }
  &--html {
    background-image: url(../assets/html.png);
  }
  &--git {
    background-image: url(../assets/git.png);
  }
  &--design-patterns {
    background-image: url(../assets/design-patterns.png);
  }
  &--jira {
    background-image: url(../assets/jira.png);
  }
  &--photoshop {
    background-image: url(../assets/photoshop.png);
  }
  &--oop {
    background-image: url(../assets/oop.png);
  }
}
