.navbar {
  position: sticky;
  top: 0;
  @include flex($justify: space-between, $align: stretch);
  min-height: 86px;
  overflow: hidden;
  background: var(--main-dark);
  z-index: 2;
  margin-bottom: 30px;

  .logo {
    height: inherit;
    font-size: 2rem;
    color: white;
    align-self: center;
    padding: 0 60px;
    font-family: 'Rubik Microbe', cursive;
  }

  @media screen and (max-width: $tablet-width) {
    @include flex($justify: space-evenly);
    width: 100%;
    min-height: $height-tablet-navbar;
    max-height: $height-tablet-navbar;
    border-bottom: 5px solid white;
  }

  &__links {
    @include flex($justify: flex-start, $align: stretch);
    @media screen and (max-width: $tablet-width) {
      @include flex($justify: space-evenly, $wrap: wrap);
      width: 100%;
    }
  }

  &__link {
    @include link();
    @include transition(background);
    @include flex($direction: column, $justify: space-evenly);
    height: inherit;
    width: 110px;
    &:hover,
    &--active {
      background: var(--color-dark-green);
    }
    @media screen and (max-width: $tablet-width) {
      flex-basis: 33.3%;
      min-height: 74px;
    }
  }
}
