.navbar {
  position: sticky;
  top: 0;
  @include flex($justify: space-between, $align: stretch);
  min-height: 86px;
  overflow: hidden;
  background: var(--main-dark);
  z-index: 2;
  margin-bottom: 30px;

  .menu-button {
    display: none;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 0 30px;
  }

  @media screen and (max-width: $tablet-width) {
    .menu-button {
      display: inline-block;
    }
  }

  &__links {
    @include flex($justify: flex-start, $align: stretch);
    @media screen and (max-width: $tablet-width) {
      display: none;

      &--mobile {
        display: block;
        position: fixed;
        background: #202020;
        width: 100%;
        top: 86px;

        .navbar__link {
          width: 100%;
          flex-direction: row;
          height: 60px;
          justify-content: flex-start;
          padding-left: 60px;

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__link {
    @include link();
    @include transition(background);
    @include flex($direction: column, $justify: space-evenly);
    height: inherit;
    width: 110px;
    &:hover,
    &--active {
      background: var(--dark-green);
    }
  }
}
