@import 'libs/normalize';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

// vars
:root {
  --color-dark-purple: #231d31;
  --color-blue: #3f51b5;
  --color-orange: #ff9800;
  --color-green: #8bc34a;
  --color-dark-green: #4fc08c;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --main-dark: #202020;
  --bg: #eeeff1;
  --text-color: #525252;
}
$navbar-width: 110px;
$large-laptop-width: 1599px;
$laptop-width: 1149px;
$tablet-width: 800px;
$height-tablet-navbar: 140px;

// base rules
* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg);
}

// mixins
@import 'mixins';

// the common page
.page {
  position: relative;

  .main {
    min-height: 100vh;
    @media screen and (max-width: $tablet-width) {
      margin-top: $height-tablet-navbar;
    }
  }

  .to-up {
    @include size(64px);
    position: fixed;
    border-radius: 100%;
    bottom: 60px;
    left: 40px;
    background: var(--color-dark-green);
    &__link {
      @include link();
      @include size(100%);
      @include flex;
    }
    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }
}

// components
@import 'section';
@import 'navbar';
@import 'card';
@import 'card-project';
@import 'article';
@import 'footer';
@import 'aside';
// sections
@import 'about';
@import 'skills';
@import 'projects';
@import 'testimonials';
